

body{
  background-color:  #181717;
}

.h3{
  color: azure;
}

/*texte modale*/
.texte {
  letter-spacing: 10px;
  font-size: 20px;
  color: rgb(252, 252, 247);
  
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  opacity: 0; /* Masquer initialement */
  animation: typing 2s steps(18) forwards, cursor 0.5s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  0% {
    width: 0;
    opacity: 1; /* Rendre visible au début de l'animation */
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

.texte:nth-child(1) {
  animation-delay: 0s;
}

.texte:nth-child(2) {
  animation-delay: 2.5s;
}

.texte:nth-child(3) {
  animation-delay: 5s;
}

.texte:nth-child(4) {
  animation-delay: 7.5s;
}

.texte:nth-child(5) {
  animation-delay: 10s;
}

.texte:nth-child(6) {
  animation-delay: 12.5s;
}

.texte:nth-child(7) {
  animation-delay: 15s;
}

ol{
  list-style-type: none;
}
/* effets matrix*/
.meteok {
  letter-spacing: 10px;
  font-size: 20px;
  color: #008F11;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  z-index: 2;
  opacity: 0; /* Masquer initialement */
  animation: typing2 3s steps(18) infinite, cursor2 0.5s step-end infinite alternate;
}
.containeur{
z-index: 2;
margin-left: 5%;
}
.containeur2{
  z-index: 2;
  margin-left: 30%;
  margin-top: 10%;

}
.containeur3{
  z-index: 2;
  margin-left: 80%;
  margin-top: 3%;

}

@keyframes cursor2 {
  50% {
    border-color: transparent;
  }
}

@keyframes typing2 {
  0% {
    width: 0;
    opacity: 0.3; /* Rendre visible au début de l'animation */
  }
  100% {
    width: 100%;
    
  }
}




.meteok:nth-child(1) {
  animation-delay: 1s;
}

.meteok:nth-child(2) {
  animation-delay: 2.5s;
}

.meteok:nth-child(3) {
  animation-delay: 12.5s;
}

.meteok:nth-child(4) {
  animation-delay: 8.5s;
}

.meteok:nth-child(5) {
  animation-delay: 5s;
}

.meteok:nth-child(6) {
  animation-delay: 10.5s;
}

.meteok:nth-child(7) {
  animation-delay: 4s;
}
.resultats{
  font-size: 3vh;
  margin-left: 88vh;
}

/*input recherche */
.recherche{
  height: 35px;
  width: 299px;
  font-size: 32px;
  border: 2px solid #008F11;
  border-radius: 7px;
  color: whitesmoke;
  background-color: transparent; 
  z-index: 1;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  

  
}

.btnR{
  width: 79px;
  height: 77px;
  border-radius: 40px;
  margin-top: -5px;
  background-color: black;
  font-family: Jazz LET, fantasy sans-serif;
  color: #008F11;
  z-index: 1;
  cursor: pointer;
  border: 2px solid #008F11;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}

.info {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.glitch-bloc{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glitcheAdmin,
.invisible-text{
  font-family: Unica One, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.1;
  color: #e40c0c;
}

.glitcheAdmin{
  position: absolute;
  top: 0;
  opacity: 0.9;
}

.invisible-text{
  visibility: hidden;
}

.glitcheAdmin:nth-child(2){
  color: #d53f3f;
  animation: skewAnim 3s infinite;
}

.glitcheAdmin:nth-child(3){
  color: #3df0cf;
  animation: glitchAnim2 3s infinite;
}

.glitcheAdmin:nth-child(4){
  color: #f1f1f1;
  animation: glitchAnim1 3s infinite;
}

/* animation glitche*/

@keyframes glitchAnim1 {
  7%{
    transform:none
  }
  10%{
    transform:translate(6px, -2px)
  }
  13%{
    transform:none
  }
  20%{
    transform:none
  }
  23%{
    transform:translate(-12px, -7px)
  }
  26%{
    transform:none
  }
  40%{
    transform:none
  }
  43%{
    transform:translate(10px, -9px)
  }
  46%{
    transform:none
  }
  65%{
    transform:none
  }
  68%{
    transform:translate(7px, 5px)
  }
  71%{
    transform:none
  }
  100%{
    transform:none
  }
  
}

@keyframes glitchAnim2 {
  7%{
    transform:none
  }
  10%{
    transform:translate(6px, -2px)
  }
  13%{
    transform:none
  }
  20%{
    transform:none
  }
  23%{
    transform:translate(-12px, -7px)
  }
  26%{
    transform:none
  }
  40%{
    transform:none
  }
  43%{
    transform:translate(10px, -9px)
  }
  46%{
    transform:none
  }
  65%{
    transform:none
  }
  68%{
    transform:translate(7px, 5px)
  }
  71%{
    transform:none
  }
  100%{
    transform:none
  }
}

@keyframes skewAnim{
  20%{
    transform:none
  }
  23%{
    transform: skew(5deg, -5deg) translate(10px, 5px)
  }
  26%{
    transform:none
  }
  40%{
    transform:none
  }
  43%{
    transform:skew(5deg, -10deg) translate(-5px, 2px)
  }
  46%{
    transform:none
  }
  100%{
    transform:none
  }
}

.App-header {
  margin-top: -30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 2vh;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: brightness(50%);
  }
  50% {
    filter: brightness(120%);
  }
  100% {
    opacity: 1;
    filter: brightness(100%);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.548); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 1s ease-in-out;
  
  
}

.modal-content {
  padding: 20px;
  width: 50%;
  text-align: center;
  position: relative;
  height: 97%;
  font-size: 12px;
  
  
}

.modal-close {
  position: absolute;
  top: 29px;
  right: 36px;
  background: rgb(13, 21, 21);
  color: #d53f3f;
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 25px;
  font-family: initial;
}

.modal-close:hover {
  background: darkred;
}




.containeur{
  display: inline-block;
}



